[2012-10-02 20:02] hunner opened #13 "`crm configure load update` returns 0 on error"
When running `crm configure load update` in the providers' flush methods, if there are syntax errors or anything, the command still returns 0 and the resource shows that the changes were applied.

I haven't figured out a good way to validate the configuration other than `crm_verify` but this command requires XML, but we are currently emitting normal crm commands. I don't have other ideas of how to

[2012-10-04 19:39] hunner opened #15 "`cs_shadow` and `cs_commit` should not create changes every run."
The `cs_shadow` and `cs_commit` resources create notice messages every run. This shouldn't happen. `/var/lib/heartbeat/crm/shadow.*` are left after each run, so we could perhaps use that? The `crm` command has to have a way to know what cib's stick around, since trying to create a new one with the same name says that it already exists.

[code]

[2012-10-05 22:16] hunner opened #17 "`cs_primitive` resources without a `parameters` attribute are not realized."
ssia.

[2012-10-05 22:17] hunner opened #18 "`cs_group` resource cannot handle `ensure => absent`"
It complains about a missing `should` method.

[2013-01-29 04:40] antaflos opened #32 "Corosync vs Pacemaker: wrong usage of "Corosync""
Corosync doesn't manage resources. Corosync provides reliable communication between nodes, manages cluster membership and determines quorum. Pacemaker is a cluster resource manager (CRM) that manages the resources that make up the cluster, such as IP addresses, mount points, file systems, DRBD devices, services such as MySQL or Apache and so on. Basically everything that can be monitored, stopped,

[2013-04-09 13:46] kbon opened #36 "RHEL 6.4: crm replaced by pcs"
See https://bugzilla.redhat.com/show_bug.cgi?id=878508 .

Apparently RedHat chose to remove the `crm` command from their RHEL 6.4 release in favor of `pcs`. This Puppet module relies on `crm` for all operations, which means this module is currently broken on RHEL 6.4 based systems e.g. CentOS 6.4.

Solutions:
* add a `pcs` provider to keep this module working on 6.4 based systems
* the `crm` comma

[2013-04-25 10:13] lbetz opened #37 "Added clone, rsc_options and location including rules"
Hi,

I tried to implement types and providers for cs_clone, cs_location and cs_rsc_defaults. Some examples explain the syntax:

cs_rsc_defaults { 'migration-threshold': value => '2' }

cs_clone { 'pingclone':
      ensure => present,
      primitive => 'ping',
      metadata => { 'globally-unique' => "false", 'clone-max' => "2", 'target-role' => "Started" },
   }

cs_location { 'monitoring_on_conn

[2013-05-21 09:32] #37 closed, assigned to nobody

[2013-05-24 00:06] robertpearce opened #39 "trying to sed file that does not exist"
on RHEL 6.4:

    err: /Stage[main]/Corosync/Exec[enable corosync]/returns: change from notrun to 0 failed: sed -i s/START=no/START=yes/ /etc/default/corosync returned 2 instead of one of [0] at /etc/puppetlabs/puppet/modules/corosync/manifests/init.pp:198

The file `/etc/default/corosync` does not exist on RHEL `6.4` after installing `corosync`.

I've worked around the issue for now with:

[code]

[2013-06-13 15:41] bitglue opened #40 "utilization attributes of primitives can't be managed"
Pacemaker allows resources to be associated with some utilization of arbitrary resources. Nodes can then be said to have so much of those resources, and pacemaker will take care place resources only where there are enough resources. For example, one can declare that a resource representing a VM requires 512 MB of RAM, and that some VM host has 16 GB of RAM. See the [relevant Pacemaker documentatio

[2013-06-18 17:41] #40 closed, assigned to nobody

[2013-07-14 14:52] ctavan opened #52 "Puppet error if utilization property of cs_primitive not set."
I followed [the example](https://github.com/ody/ha-demo/blob/master/manifests/init.pp) to set up some primitives with the current master of puppetlabs-corosync.

Unless I explicitly define the sample primitive as follows:

[code]

I get the following error:

[code]

The key is to explicitly define

[code]

The [error happens here](https://github.com/puppetlabs/puppetlabs-corosync/blob/master/lib/p

[2013-07-16 19:47] #52 closed, assigned to nobody

[2015-05-19 14:43] igalic commented on #39
this issue is probably already fixed, but the fact that we still use `sed` should be fixed.

[2015-05-20 14:06] ffrank commented on #32
Just stumbled into this module and whole-hartedly concur. Pacemaker management is out of scope, should be a separate module.

[2015-05-22 01:18] nibalizer commented on #32
Much of what hunner is discussing applies now that the module is under puppet-community. http://planck.nibalizer.com:5000/modules/puppet-community/puppet-corosync is even janky CI for it

[2015-05-22 16:00] ffrank commented on #32
Concerning `crm_` vs. `pm_` I disagree, by the way.

Yes, `crm` is a shell and as such not an integral part of pacemaker. But the Cluster Resource Manager is a thing that exists in any case and `crmd` is one of the components that make pacemaker tick (or beat?)

A `pm` prefix would be counter-intuitive because as far as I know, nothing in the LinuxHA ecosystem uses it to refer to pacemaker.

[2015-06-24 11:35] fghaas opened #143 "Incomplete support for Corosync 2.x"
This module has no proper way to enable Pacemaker without a service plugin. The documented way of enabling Pacemaker as per https://github.com/puppet-community/puppet-corosync/blob/master/README.md is to add

[code]

which is a bad idea to begin with, since version 1 had long been the preferred service plugin.

However, this configuration mode makes no sense at all on systems past Corosync 2.0 whi

[2015-06-24 11:36] fghaas opened #144 "0.7.0 release broken; corosync.conf template creates configuration file that makes it impossible for corosync daemon to start"
https://github.com/puppet-community/puppet-corosync/blob/0.7.0/templates/corosync.conf.erb uses a reference to `threads_real` which is never set. This creates a `corosync.conf` file where the `threads` parameter has an empty value; under these circumstances corosync will refuse to start. This is fixed in master, but the 0.7.0 release should be retracted from the Puppet Forge or at least being mark

[2015-06-24 11:39] fghaas opened #145 "Incorrect/incomplete autorequire in cs_primitive type"
`cs_primitive` has an autorequire against the corosync service.

This makes no sense except when are running with `corosync::service { 'pacemaker': version => 0 }`; under all other circumstances the autorequire should be against pacemaker. For context, see also #143.

[2015-06-24 12:42] ffrank opened #146 "Test basic compatibility with Puppet 3.8.x (on RHEL7)"
@fghaas commented that he had to resort to Puppet `3.6` when deploying on CentOS 7, because with `3.8` there was severe breakage.

[2015-06-25 01:57] sammcj commented on #143
We had this exact issue with the puppet module yesterday! Thank you for the info @fghaas - hopefully this can be patched soon?

[2015-06-25 03:51] sammcj commented on #36
There still seems to be a lot of problems using this module with pcs / CentOS 7, for example the module doesn't seem to be able to read that resources are properly setup with pcs so it tries to re-create them every puppet run.

[2015-06-25 07:21] fghaas commented on #143
@sammcj I'm not entirely sure how much work it would be; particularly getting the autodependencies right is probably somewhat invasive. Does the suggested workaround work for you, i.e. adding `service { 'pacemaker': }` and then `require => Service['pacemaker']` on the `cs_` resource types?

[2015-06-25 08:06] sammcj commented on #143
@fghaas not really - it seems the module is missing a lot of logic around dealing with pcs in general. We've just installed crmsh from SUSE on CentOS 7 and forced the module to use crm instead which works 'alright'.

[2015-06-25 08:12] fghaas commented on #143
@sammcj Elaborate please? I'm running this module (from git master; 0.7.0 is broken as per #144) with pcs and haven't run into major snags yet.

[2015-06-25 08:31] roidelapluie commented on #36
I plan to start working on el7 in the next couple of weeks/months.

[2015-06-25 08:56] ffrank commented on #143
For the time being, the most economic workaround for users who don't rely on virtual resources will be

    Service['pacemaker'] -> Cs_location<| |>

etc. for each `cs_*` type.

[2015-06-25 08:58] fghaas commented on #143
Well yes that's true, but I'm still curious as to what other missing logic @sammcj is referring to.

[2015-06-25 09:01] ffrank commented on #143
Depending on the scope of that, I'd like to have a new 'pcs provider is not up to par with crm' issue for that, so as not to fuzz the conversation here too much.

[2015-06-25 09:02] fghaas commented on #143
**If** it indeed is not.

[2015-06-30 12:50] ffrank commented on #144
Sorry I was backed up over the weekend; still working on a 0.7.1 bugfix release asap.

[2015-07-14 18:38] fghaas opened #149 "Clone names can't be overridden"
https://github.com/puppet-community/puppet-corosync/blob/master/lib/puppet/provider/cs_clone/pcs.rb#L59 sets the clone's CIB ID to `<primitive>-clone`, which is an arbitrary naming convention. The CIB ID should simply honor the `cs_clone` resource's namevar, `name`.

[2015-07-14 19:41] fghaas opened #150 "Colocation constraints with pcs provider are broken, incorrectly assume bidirectionality, swap order of primitives around"
https://github.com/puppet-community/puppet-corosync/blob/master/lib/puppet/provider/cs_colocation/pcs.rb#L39 says that the order of primitives in colocation constraints does not matter. It does.

[code]

These two constraints are **not** identical, but were generated from equivalent `cs_colocation` resources.

[2015-07-14 23:06] fghaas opened #152 "Disallowing 1-primitive groups in cs_group is pointless"
The validation check in https://github.com/puppet-community/puppet-corosync/blob/master/lib/puppet/type/cs_group.rb#L30 is overzealous. It is a perfectly valid use case to have groups with just 1 primitive. For example, you might want to define a set of 3, 2 or even just 1 resource that you then reference from a constraint. The easiest way to that is to use a group, and to always have the constrai

[2015-07-14 23:26] fghaas commented on #152
For the stab I took at this that GitHub has duly cross-referenced, I of course forgot about Puppet's oh-so-smart single-element array munging as outlined in https://tickets.puppetlabs.com/browse/PUP-1299.

[2015-07-16 12:13] fghaas commented on #150
Note that the author of the `cs_primitive` **type** realized that colocation constraints are directional:

[code]

The `cs_colocation` PCS **provider** author apparently disregarded that information.

[2015-07-28 18:29] fghaas opened #157 "pcs: constraints, groups do not delay creation of primitives"
With the `pcs` provider (not sure whether the `crm` provider does the same), `cs_primitive` resources are committed immediately. This usually causes the resource to be started immediately, regardless of explicit order and colocation constraints, or implicit constraints from `cs_group`s.

This means resources start prematurely, in the wrong order, or in the wrong place, requiring the user to run `p

[2015-07-30 05:16] sammcj commented on #157
We too noticed this and it prevented us from using pcs with this module.

[2015-07-30 05:24] sammcj commented on #146
We're running Puppet 3.8.1 on CentOS 7.1 but with crm because this module does not play nicely with pcs. I haven't noticed anything break, but I also haven't created a new cluster from scratch in a couple of weeks.

I'm wondering if you could detail what breaks with Puppet 3.8.x ?

[2015-07-30 07:51] fghaas commented on #157
@sammcj You mean it's been that way from the get-go? Then that would mean this provider was never usable except for the most trivial of configurations. @jonhattan and @roidelapluie, can you please comment?

[2015-07-30 08:13] roidelapluie commented on #157
Yes this is true. I will use that module in complex situations and I plan to integrate that in this module. The solution is to use the shadow functionality.

[2015-07-30 08:29] fghaas commented on #157
@roidelapluie My Ruby-fu is minimal, but I thought that's what the `pcs` implementations already do use?

[2015-07-30 08:36] roidelapluie commented on #157
You can use the https://github.com/puppet-community/puppet-corosync/blob/master/lib/puppet/provider/cs_shadow/pcs.rb

But I have never tested it yet.

[2015-07-30 09:30] fghaas commented on #157
@roidelapluie Ok, so since that appears to be undocumented, let's see if I get this correctly:
[code]
Is that how this is supposed to be used?

[2015-07-30 10:24] roidelapluie commented on #157
Yes and it should work with the crm provider

[2015-08-09 17:59] jonhattan commented on #157
I'm no longer using this module (nor puppet) for corosync config. In case it helps you figure out how to fix cs_shadow/pcs.rb, this is what I'm doing in a script:

[code]

[2015-08-09 20:10] roidelapluie commented on #157
thanks for your feedback it is very welcome!

[2015-09-14 15:49] roidelapluie opened #163 "Beaker tests results are irrelevant"
When PCCI runs the tests it first send a failure because tests fail on Centos then it sends a success because tests work on Ubuntu and we only see the Ubuntu success at the end.

[2015-09-14 16:31] nibalizer commented on #163
Yes this is a thing. We pipped through centos pcci tests but didn't figure out how to reflect that in the test reporting. ping @bkero

[2015-09-16 00:09] sammcj commented on #146
Any update on this?

[2015-09-16 07:28] roidelapluie commented on #157
Pull request #162 fixes all of this

[2015-10-04 17:52] roidelapluie commented on #163
it would also be cool to use   --trace when doing      puppet apply --verbose --detailed-exitcodes /tmp/apply_manifest.pp.SclU02 in beaker tests

[2015-10-14 14:51] igalic commented on #144
s/weekend/half-year/…

we're currently planning a 0.8.0 release, /cc: @emilienm

[2015-10-14 14:53] EmilienM commented on #144
thanks @igalic - ack

[2015-10-14 14:57] igalic commented on #36
@roidelapluie ping

[2015-10-14 15:29] igalic commented on #149
@fghaas are you interested in providing your patch as pull-request?

i absolutely agree that `create` MUST NOT change `name` (or the `namevar`, in general)

[2015-10-14 15:32] igalic commented on #152
@fghaas are you interested in providing your patch as pull request?

[2015-10-14 15:34] igalic commented on #150
@fghaas, @mkrakowitzer are you interested in providing your patches as pull request(s)?

[2015-10-14 15:35] igalic commented on #146
i'm pretty, and sure, that we test 3.8, according to our [.travis.yml](https://github.com/puppet-community/puppet-corosync/blob/master/.travis.yml) — i'm just not sure what that means ;)

[2015-10-14 15:40] fghaas commented on #152
@igalic, do you have a workaround for PUP-1299 that works pre-4.0?

[2015-10-14 15:41] fghaas commented on #150
@igalic See #153.

[2015-10-14 15:43] roidelapluie commented on #36
Closing ths in favour of #162

[2015-10-14 15:48] igalic commented on #152
no :(

[2015-10-14 15:49] #36 closed

[2015-10-15 13:14] ffrank commented on #146
Pinging @fghaas, any insight on how the module is not compatibly to Puppet `3.8`?

I may just go ahead and create a CentOS 7 test rig to play...

[2015-10-15 13:16] ffrank commented on #144
So `0.8.0` is out. @fghaas could you verify that the fix has landed?

[2015-10-16 12:58] roidelapluie opened #167 "Github project URL still points to the PL forge project"

[2015-10-19 17:07] igalic commented on #167
fixed!

[2015-10-19 17:07] #167 closed

[2015-11-02 09:22] bogdando commented on #149
@fghaas do you suggest to not add the "-clone" postfix?

[2015-11-02 09:24] fghaas commented on #149
@bogdando I am suggesting to not override the user's choice for the `namevar` at all.

[2015-11-03 09:53] bogdando commented on #149
That makes sense I believe

[2015-12-02 12:14] ffrank opened #173 "Flush cs properties in one go"
From the discussion in #170, it would probably be nice if the cs providers implemented the `post_resource_eval` hook in order to work faster through batch syncing.

[2015-12-02 12:19] roidelapluie commented on #173
we need a pre_resource_eval not post_resource_eval

[2015-12-02 12:39] igalic commented on #173
oh?

[2015-12-11 18:35] tdb opened #176 "clone of a group isn't supported"
When trying to clone a group I see the error:

[code]

The configuration looks like:

[code]

And the XML:

[code]

So the primitive is a level deeper than it would be with a clone of a primitive. The following code in https://github.com/puppet-community/puppet-corosync/blob/master/lib/puppet/provider/cs_clone/crm.rb#L41 expects the primitive to be directly under clone:

[code]

It appears to be t

[2015-12-12 14:10] igalic opened #179 "cs_colocation's self.instances is huge, and should be split"
the following function is *huge*, not very ruby-like, and can be split in at least two functions (between if and else) and multiple helpers.
[code]

my perception is that those helpers could also be used in other cs_* providers.

[2015-12-12 23:22] petems opened #181 "CentOS 7 Startup issue"
The failures in PCCI are actually bubbling up a real error:

[code]
http://jensd.be/156/linux/building-a-high-available-failover-cluster-with-pacemaker-corosync-pcs

[2015-12-12 23:26] petems commented on #181
Error from CentOS 7 box:

[code]

[2015-12-15 09:23] roidelapluie commented on #179
We need to remove the self.instances

[2015-12-15 09:26] roidelapluie opened #182 "Drop self.instances"
We need to drop self.instances if we plan to support the cib => parameter

[2015-12-15 15:35] igalic commented on #179
huh?

[2015-12-15 15:38] roidelapluie commented on #179
see #182

[2015-12-15 15:39] roidelapluie commented on #182
self.instances can not take care of the cib => parameters, so we need to remove it and fetch the resources that we need within the right cib

[2016-01-18 15:46] roidelapluie commented on #173
@ffrank #187 solves this

[2016-02-02 14:36] bogdando opened #193 "When adding/removing cluster nodes, use configurable node IDs in the nodelist config"
Usecase: when scaling adding/removing corosync cluster nodes given in the "quorum_members" parameter, existing indexes should be unique and preserved  for a node lifetime (optionally).

While shifted by auto-increment (https://github.com/voxpupuli/puppet-corosync/blob/master/templates/corosync.conf.udpu.erb#L90-L96) IDs of old and new nodes might bring a major issue to the dynamic config feature o

[2016-02-02 14:37] bogdando commented on #193
@ffrank

[2016-02-02 14:37] bogdando commented on #193
@cmurphy

[2016-02-02 15:16] bogdando commented on #193
related fix https://github.com/voxpupuli/puppet-corosync/pull/194

[2016-02-06 13:26] jyaworski commented on #13
Is this still an issue?

[2016-02-06 13:26] jyaworski commented on #15
Is this still an issue?

[2016-02-06 13:26] jyaworski commented on #17
Is this still an issue?

[2016-02-06 13:26] jyaworski commented on #18
Is this still an issue?

[2016-02-06 13:27] jyaworski commented on #39
Is this still an issue?

[2016-02-06 20:52] roidelapluie commented on #15
Yes and a fix is coming

[2016-02-07 00:22] jyaworski commented on #15
Can you link to the relevant PR?

[2016-02-08 05:06] roidelapluie commented on #15
#162

[2016-02-08 10:36] fatmcgav commented on #181
@petems I'm seeing this issue outside of the boot process aswell... So when the machine is running, trying to start corosync service throws the above error...

So I'm not sure it's specific to the boot process...

Thoughts?

[2016-02-09 09:58] zaitsxl opened #199 "Wrong syntax in pcs command call"
Hi,

when Puppet tries to apply this piece of code

[code]
the following error appear

Error: /Stage[main]/Profile::Db::Bi_db/Cs_order[order-msPostgresql-master-group-INFINITY]: Could not evaluate: Execution of '/sbin/pcs constraint order Master promote msPostgresql then start master-group INFINITY kind=Mandatory id=order-msPostgresql-master-group-INFINITY symmetrical=false' returned 1: Usage: pcs

[2016-02-09 10:07] roidelapluie commented on #199
first  => 'msPostgresql:Master', should be enough?

[2016-02-09 10:07] roidelapluie commented on #199
or first => 'msPostgresql:promote'

[2016-02-09 11:58] zaitsxl commented on #199
Hi,

right, so many manuals, not of them are correct %-) That worked, thanx. Now another one.

cs_primitive { 'pgsql':
        primitive_class         => 'ocf',
        primitive_type          => 'pgsql',
        provided_by             => 'heartbeat',
        promotable              => 'true',
        parameters              => { 'pgctl' => '/bin/pg_ctl', 'psql' => '/bin/psql', 'pgdata' => '/var/

[2016-02-09 12:02] roidelapluie commented on #199
I don't have "ms_pgsql" anywhere => it is implied because `promotable              => 'true',`

[2016-02-09 12:05] roidelapluie commented on #199
I guess we need to delete it first, like we do for the resource https://github.com/voxpupuli/puppet-corosync/blob/53264ccb7e50bbc9ca0d1fe77b4640ece8a25a7e/lib/puppet/provider/cs_primitive/pcs.rb#L266-L284

[2016-02-09 12:06] zaitsxl commented on #199
so should I have promotable => false? or rename the resource to "ms_pgsql"?

[2016-02-09 12:11] roidelapluie commented on #199
No that would not work

[2016-02-09 12:11] roidelapluie commented on #199
This is a bug in the module that needs to be fixed

[2016-02-09 12:14] zaitsxl commented on #199
oh again.... Renaming resource to ms_pgsql worked however :-)

[2016-02-09 12:21] zaitsxl commented on #199
So should I create some ticket?

[2016-02-09 15:10] roidelapluie commented on #199
this is the ticket

[2016-02-09 15:17] zaitsxl commented on #199
ok, just wanted to make sure

[2016-02-15 08:46] zaitsxl commented on #199
So people will we do something regarding the above issue?

[2016-02-16 19:35] hunner commented on #199
If an enterprising community member runs across this issue and decides to spend time fixing it, this ticket can help with that. Vox Pupuli is entirely volunteer-driven, so if you could volunteer some time and send a PR that would be worth some internet bucks :)

[2016-02-17 06:45] jyaworski commented on #181
Could we get more information on this?

[2016-02-18 09:36] bogdando commented on #193
Fixed

[2016-02-18 09:36] #193 closed

[2016-02-19 15:18] roidelapluie commented on #181
I can repoduce that, but I need more info, like the parameters you pass to the corosync class

[2016-02-21 13:12] jyaworski commented on #39
Yeah, it looks like we still use sed with Debian. I'll see what we can do there.

[2016-02-21 13:45] #39 closed

[2016-02-23 11:03] juniorsysadmin opened #204 "Support Ruby 2.2.x"
This module does not yet support Ruby 2.2.x or above

[2016-02-23 13:01] jyaworski commented on #204
What exactly does this mean? Random errors, enhancements, etc?

[2016-02-28 04:42] juniorsysadmin commented on #204
@jyaworski RSpec unit test fail on Ruby 2.2.x or above.

[2016-02-29 00:53] jyaworski commented on #143
Is this still an issue?

[2016-02-29 00:53] jyaworski commented on #179
Closing in favor of #182

[2016-02-29 00:53] #179 closed

[2016-02-29 00:54] jyaworski commented on #163
Is this still an issue?

[2016-02-29 00:57] jyaworski commented on #32
Is this still an issue?

[2016-02-29 00:58] jyaworski commented on #149
Is this related to #176?

[2016-02-29 00:59] jyaworski commented on #173
Closing per #187

[2016-02-29 00:59] #173 closed

[2016-02-29 00:59] jyaworski commented on #152
Is this still an issue?

[2016-02-29 01:00] jyaworski commented on #157
#162 is still in progress.

[2016-02-29 01:01] jyaworski commented on #146
As of #195 we should now test on CentOS7.

[2016-02-29 01:01] #146 closed

[2016-02-29 07:11] roidelapluie commented on #149
That is more complex AFAIK because the clone is defferent than the primtive

[2016-02-29 12:39] roidelapluie commented on #32
yes

[2016-03-04 13:13] roidelapluie opened #206 "Steps to do before a -beta1"
I would like 1 more week before we tag the rc1 release as I am working hard on this now

- [x] #162  -> now #209
- [x] #201
- [x] #208
- [x] #207
- [x] #214
- [x] #215
- [ ] #229
- [x] #231
- [ ] #232

[2016-03-04 16:14] roidelapluie commented on #206
due to #209 we would need a major version bump I guess

[2016-03-06 13:25] roidelapluie opened #213 "PCCI ubuntu 12.04 + centos 6"
Would be nice to have acceptance tests for ubuntu 12.04 and centos 6

[2016-03-06 13:43] roidelapluie opened #214 "Post-#209: check why there is an exception for RedHat in acceptance tests"
This task need work after #209 has been merged.

Acceptance tests contain
` unless fact('osfamily') == 'RedHat' # Something's wrong with the pcs provider`

We need to fix the issue and fix it

[2016-03-06 13:44] roidelapluie opened #215 "Post-#209: Add cs_property {replace=> no} in the changelog"
This task need work after #209 has been merged.

[2016-03-06 18:30] roidelapluie commented on #199
@zaitsxl can you try again when #209 is released?

[2016-03-07 06:46] zaitsxl commented on #199
No problem, I will

2016-03-06 20:30 GMT+02:00 Julien Pivotto <notifications@github.com>:

--
In DOS we trust. Alexander Zaitsev

[2016-03-07 17:04] #215 closed

[2016-03-07 17:04] roidelapluie commented on #215
Done in 162e87cd9054912680f9a1005f7de6d22b3cefb2

[2016-03-07 17:05] roidelapluie opened #217 "use run_command_in_cib everywhere in the crmsh provider"
we need to migrate the crmsh commands to that new helper, which manages executions in a better way.

[2016-03-07 17:06] roidelapluie commented on #217
some of them are already using this as part of #209

[2016-03-07 19:28] #214 closed

[2016-03-08 12:19] roidelapluie opened #222 "port #174 to the pcs provider"
port #174 to the pcs provider

[2016-03-08 12:50] roidelapluie commented on #206
@GiooDev @ffrank @igalic I think we can release a -beta1

[2016-03-08 13:40] #222 closed

[2016-03-08 15:25] jyaworski commented on #199
Closing due to #209, please re-open if needed.

[2016-03-09 09:54] zaitsxl opened #229 "Undefined method 'first'"
After last updates being merged to master this code:

cs_order { 'order-msPostgresql-master-group-INFINITY':
        first                      => 'msPostgresql:promote',
        second                => 'master-group:start',
        score                   => 'INFINITY',
        symmetrical             => 'false',
}

throws this error

Error: /Stage[main]/Profile::Db::Bi_db/Cs_order[order-msPostg

[2016-03-09 10:18] roidelapluie commented on #229
can you run it with --strace ? thanks

[2016-03-09 10:26] zaitsxl commented on #229
if you meant puppet cmdline argument then I cannot see such option
available. Puppet 4.2.1

2016-03-09 12:18 GMT+02:00 Julien Pivotto <notifications@github.com>:

--
In DOS we trust. Alexander Zaitsev

[2016-03-09 10:32] roidelapluie commented on #229
--trace sorry

[2016-03-09 11:41] zaitsxl commented on #229
Done, check this out

/opt/puppetlabs/puppet/lib/ruby/vendor_ruby/puppet/property.rb:406:in
`retrieve'
/opt/puppetlabs/puppet/lib/ruby/vendor_ruby/puppet/type.rb:1053:in `block
in retrieve'
/opt/puppetlabs/puppet/lib/ruby/vendor_ruby/puppet/type.rb:1048:in `each'
/opt/puppetlabs/puppet/lib/ruby/vendor_ruby/puppet/type.rb:1048:in
`retrieve'
/opt/puppetlabs/puppet/lib/ruby/vendor_ruby/puppet/type.rb

[2016-03-09 14:03] roidelapluie opened #231 "Cs_colocation Could not evaluate: undefined method `include?' for nil:NilClass"
[Error] Error: /Stage[main]/Profile_corosync/Profile_corosync::Daemon[pt-heartbeat-1]/Cs_colocation[mysql-1_pt-heartbeat-1]: Could not evaluate: undefined method `include?' f
or nil:NilClass

[2016-03-09 14:05] roidelapluie opened #232 "missing autedependency"
[Error] Error: /Stage[main]/Profile_corosync/Profile_corosync::Daemon[messagebus]/Cs_order[nfs_before_messagebus]: Could not evaluate: Execution of '/usr/sbin/pcs con
straint order nfs-mount-clone then messagebus INFINITY kind=Mandatory id=nfs_before_messagebus symmetrical=true' returned 1: Error: Resource 'nfs-mount-clone' does no
t exist

[2016-03-09 14:37] igalic commented on #206
@roidelapluie :+1:

[2016-03-09 14:40] roidelapluie commented on #206
there are still some blocking bugs

[2016-03-09 14:51] #229 closed

[2016-03-09 15:15] zaitsxl opened #234 "Unable to find operation matching: monitor:Master"
Hi all,

after #233 was merged the following code:
[code]
throws the following error:

Error: /Stage[main]/Profile::Db::Bi_db/Cs_primitive[pgsql]: Could not evaluate: Execution of '/sbin/pcs resource op remove pgsql monitor:Master interval=3s on-fail=restart timeout=60s' returned 1: Error: Unable to find operation matching: monitor:Master interval=3s on-fail=restart timeout=60s

[2016-03-09 15:19] roidelapluie commented on #234
can you try
'monitor' => { 'interval' => '4s', 'timeout' => '60s', 'on-fail' => 'restart' },
'monitor:Master' => { 'interval' => '3s', 'timeout' => '60s', 'on-fail' => 'restart', 'role' => 'Master' },

[2016-03-09 15:22] zaitsxl commented on #234
Tried, the same error

[2016-03-09 16:07] #231 closed

[2016-03-09 21:18] #232 closed

[2016-03-09 22:02] igalic commented on #15
@roidelapluie what's the current pr for this particular issue?

[2016-03-09 22:04] roidelapluie commented on #15
Fixed in #209

[2016-03-09 22:04] #15 closed

[2016-03-09 22:04] igalic commented on #157
@roidelapluie what's the current pr for this issue?

[2016-03-09 22:05] igalic commented on #213
why? :(

[2016-03-09 22:08] roidelapluie commented on #213
because I think the module is broken on ubuntu 12.04 and I have no idea for centos 6

[2016-03-09 22:13] roidelapluie commented on #157
Fixed in #209

[2016-03-09 22:13] #157 closed

[2016-03-10 02:01] jyaworski commented on #213
@roidelapluie isn't 12.04 EOL, or almost EOL?

[2016-03-10 06:56] roidelapluie commented on #234
@zaitsxl #237

[2016-03-10 10:11] igalic commented on #213
it will be in may 2017.

[2016-03-10 10:14] bastelfreak commented on #213
Do we want to support this old stuff? They are still maintained by upstream but really really old and their  successor are already present.

[2016-03-10 10:15] igalic commented on #213
`¯\(o_°)/¯`

[2016-03-10 10:17] roidelapluie commented on #213
Can someone add that to metada.json?

[2016-03-10 13:03] roidelapluie opened #239 "issue with cs_order and roles"

[2016-03-10 15:39] #234 closed

[2016-03-10 16:12] roidelapluie commented on #234
@zaitsxl can you try now?

[2016-03-11 06:18] #239 closed

[2016-03-14 07:04] roidelapluie opened #244 "Support for multiples rings"

[2016-03-14 07:07] roidelapluie commented on #213
I opened #243 but I am sad about this.

[2016-03-14 07:11] #206 closed

[2016-03-14 08:31] #163 closed

[2016-03-14 08:44] roidelapluie commented on #143
Will be closed by #245.

[2016-03-14 14:02] #143 closed

[2016-03-15 10:26] zaitsxl opened #248 "Warning after latest changes merged"
Hi community,

after latest changes merged I got this warning

Warning: cs_primitive.rb[operations]: Role in the operations name is now deprecated. Please use an array of hashes and put the role in the values.
   (at /opt/puppetlabs/puppet/cache/lib/puppet/type/cs_primitive.rb:103:in `block (4 levels) in <top (required)>')

I know it's not a major error, just be advised

[2016-03-15 10:33] roidelapluie commented on #248
This is not a bug, it is something I did add to the provider. It means that you should adapt your puppet code:

you probably have:

[code]

That should become:

[code]

[2016-03-15 10:34] roidelapluie commented on #248
I made that because it is more explicit. It is also in line with other puppet modules (e.g the alias parameter of apache::vhost).

[2016-03-15 11:31] zaitsxl commented on #248
Uh, I believe such polishings should be done after module generally starts working as expected, not to bring more confusion. Thanx anyway for clarification

[2016-03-15 11:34] roidelapluie commented on #248
what do you mean <after module generally starts working as expected,> ?

This is a polishing that I made after your issue #234 . It will land in releade 1.0.0 - which is a major version bump. That allows us to intoduce big changes like this, dont' you agree?

[2016-03-15 11:35] roidelapluie commented on #248
Also, I took care to ensure that old configuration are still working. they just produce a depreciation warning.

[2016-03-15 12:20] zaitsxl commented on #248
I mean for now it does not work as expected since we have a lot of open issues. And I recheck that each time after I notice master branch updates for several months already. For now it still does not allow to tune up corosync/pacemaker cluster without errors. Maybe my config is something exotic, though I took it from some basic manual.

My testing method is the following: I manually tuned up Coros

[2016-03-15 12:26] roidelapluie commented on #248
I understand your feeling.

Would you like to open a few more issues maybe? I see nothin really important in the issues list that would prevent it to work without any error.

[2016-03-15 12:46] zaitsxl commented on #248
Well my major problem is still not resolved, though the ticket was closed. It was regarding pcs command syntax, I remember the ticket was closed to resolve the problem in other one. But anyway I tested today and problem persists

[2016-03-15 12:50] roidelapluie commented on #199
Can you try with

[code]

[2016-03-15 12:53] zaitsxl commented on #199
Today error was:

Cs_primitive[pgsql]) Could not evaluate: Execution of '/sbin/pcs resource update ms_pgsql pgsql meta master-max=1 master-node-max=1 clone-max=2 clone-node-max=1 notify=true' returned 1: Error: Unable to find resource: ms_pgsql

No sure if it's the same as above. Anyway I'll try what you suggested and give you feedback

[2016-03-15 12:55] roidelapluie commented on #248
I reopened.

However it was not closed by magic. We are testing the puppet you sent to us:
https://github.com/voxpupuli/puppet-corosync/blob/master/spec/acceptance/cs_primitive_spec.rb
and it works in the acceptance checks.

[2016-03-15 12:56] roidelapluie commented on #199
zaitxl: https://github.com/voxpupuli/puppet-corosync/blob/master/spec/acceptance/cs_primitive_spec.rb here is what we test. What is different in your setup?

[2016-03-15 13:16] zaitsxl commented on #199
BTW in one of the previous issues someone advised me to use 'monitor:Master' in 2nd 'monitor' statement. Is that still correct?

[2016-03-15 13:18] roidelapluie commented on #199
It would work but is also deprecated.

[2016-03-15 13:20] roidelapluie commented on #199
I would help if you could run it again. Now we log the pcs error messages as well (in the pas we did not)

[2016-03-15 13:21] roidelapluie commented on #248
Closing in favor of #199

[2016-03-15 13:55] zaitsxl commented on #199
You know, I just applied the above changes, including getting rid of 'monitor:Master', and everything seems calm... I nevertheless still do not celebrate, want to double or even triple check

[2016-03-15 13:57] roidelapluie commented on #199
okay. I hope I did build the walls correctly.

[2016-03-15 15:09] zaitsxl commented on #199
Ok, I created 2 nodes from the scratch. The following error came up:

Error: /Stage[main]/Profile::Db::Bi_db/Cs_colocation[colocation-master-group-msPostgresql-INFINITY]: Could not evaluate: Execution of '/usr/sbin/pcs constraint colocation add master msPostgresql with master-group INFINITY id=colocation-master-group-msPostgresql-INFINITY' returned 1: Error: Resource 'msPostgresql' does not exist

[2016-03-15 19:13] roidelapluie commented on #199
That is great. Can your write an acceptance test for it?

[2016-03-16 07:54] zaitsxl commented on #199
Not sure what exactly is great there :) One more problem that prevents implementing on production

Not sure what you meant on writing acceptance test. Can I paste the whole puppet code that fails here?

[2016-03-16 09:05] roidelapluie commented on #199
Yes please, that would be nice

[2016-03-16 09:25] zaitsxl commented on #199
OK, here it is

class profile::db::bi_db {

$vip_master = hiera('vip_master')
$vip_slave = hiera('vip_slave')
$node_list = hiera('node_list')

class { 'corosync':
        enable_secauth          => false,
        authkey                 => '/etc/puppetlabs/puppet/ssl/certs/ca.pem',
        multicast_address       => '239.1.1.2',
}

corosync::service { 'pacemaker':
        version => '0'
}

cs_prop

[2016-03-16 09:28] roidelapluie commented on #199
you are missing something:

}->

        primitive_class         => 'ocf',

[2016-03-16 09:31] roidelapluie commented on #199
you probably want `first                   => 'ms_msPostgresql:promote',`

and `primitives              => [ 'master-group', 'ms_msPostgresql:Master' ],`

[2016-03-16 09:31] roidelapluie commented on #199
but I will take a closer look later this week

[2016-03-16 09:57] zaitsxl commented on #199
Well initially I had cs_primitive { 'pgsql': bit that lead to the above error. Why I need this ms_ prefix?

[2016-03-18 15:45] roidelapluie opened #249 "move helpers to lib/puppet_x"

[2016-03-19 06:52] jyaworski commented on #144
Closing because 0.8.0 has landed. Please comment if the issue persists.

[2016-03-19 06:52] #144 closed

[2016-03-19 06:55] jyaworski commented on #249
:+1:

[2016-03-19 06:56] jyaworski commented on #145
@roidelapluie did you fix this recently?

[2016-03-19 06:58] jyaworski commented on #217
Where are we on this?

[2016-03-19 08:11] roidelapluie commented on #145
Yes

[2016-03-19 08:11] #145 closed

[2016-03-19 18:10] roidelapluie commented on #217
Still needs to be dobe

[2016-03-25 12:34] #248 closed

[2016-04-11 11:33] roidelapluie commented on #244
closed by #251

[2016-04-11 11:33] #244 closed

[2016-04-27 10:47] zaitsxl commented on #199
Anyone is still alive here? :-)

[2016-05-13 08:48] tdb commented on #204
This may have been fixed by #254.

[2016-05-13 08:58] #204 closed

[2016-05-13 08:58] roidelapluie commented on #204
Thanks @tbd

[2016-05-14 04:30] jyaworski commented on #13
Closing due to lack of response. Please re-open if needed.

[2016-05-14 04:30] #13 closed

[2016-05-14 04:30] jyaworski commented on #17
Closing due to lack of response. Please re-open if needed.

[2016-05-14 04:30] #17 closed

[2016-05-14 04:31] jyaworski commented on #18
Closing due to lack of response. Please re-open if needed.

[2016-05-14 04:31] #18 closed

[2016-06-08 21:01] #249 closed

[2016-06-09 13:53] bastelfreak opened #262 "Add support for multiple rings in node list"
It is possible that each cluster node has multiple rings, the needed config would like this this:
[code]

We already have support for multiple interfaces, but not several rings per node. We also need to valide rrp_mode, this needs to be set to active or passive, none isn't allowed with multiple rings.

[2016-06-13 09:56] roidelapluie commented on #199
you probably want first => 'ms_msPostgresql:promote',

[2016-06-13 09:56] roidelapluie commented on #199
does that work?

[2016-06-13 12:46] #217 closed

[2016-06-14 09:09] flhe opened #278 "Could not autoload puppet/type/cs_property"
Error Message:
Could not autoload puppet/type/cs_property: Could not autoload puppet/provider/cs_property/pcs: cannot load such file -- puppet_x/voxpupuli/corosync/provider/pcs on node XXX
We use crm not pcs.

[2016-06-14 09:42] roidelapluie commented on #278
Thanks for your bug report. We need more information to address it.

Can you please mention:

- The puppet version you use
- The version of the module you use
- Your operating system
- Did you disable pluginsync?
- Can you try the agent with --debug --trace to get more verbosity?

Thanks

[2016-06-15 06:20] roidelapluie opened #279 "Failures with Puppet 4 + Ubuntu"
Acceptance tests have a race condition with Ubuntu 14.04 and Puppet 4.

To be investagted

[2016-06-16 07:17] flhe commented on #278
Puppet Version: 3.8.4
puppet-corosync Version: v1.0.2
OS: ubuntu
Pluginsync is enabled
The last point needed a little more time to be resolved.

[2016-06-16 07:20] roidelapluie commented on #278
More important: Do you use Puppet agent or Puppet apply?

[2016-06-16 07:22] flhe commented on #278
We use (normally :) puppet agent.

[2016-06-16 07:28] roidelapluie commented on #278
I will provide you a patch

[2016-06-16 07:54] roidelapluie commented on #278
puppet-corosync Version: v1.0.2 seems wrong. we did not have puppetx in 1.0.2

[2016-06-16 07:59] flhe commented on #278
Sorry, my fault: working version 1.0.2 not working versions 1.1.0 and 1.2.0

[2016-06-16 08:06] roidelapluie commented on #278
@flhe https://github.com/voxpupuli/puppet-corosync/pull/284

We well release 1.1.1 and 1.2.1

[2016-06-16 08:11] flhe commented on #278
Thank you.

[2016-06-16 08:20] roidelapluie commented on #278
Let's keep this ticket open until fix is released

[2016-06-16 08:40] roidelapluie commented on #278
Okay. 1.1.1 is released and 1.2.1 is in the pipeline.

[2016-06-16 08:40] #278 closed

[2016-06-16 10:05] roidelapluie commented on #278
@flhe can you try 1.1.1 or 1.2.1 and tell us if it is fixed for you?

[2016-06-17 11:18] flhe opened #289 "location rules definition missing"
in puppet-corosync 1.2.1, i am missing location rules configuration
(for example a ping-gateway configuration). Would be great, if it does exist.

[2016-06-17 11:24] roidelapluie commented on #289
What do you mean?

The following should work.

[code]

[2016-06-17 15:53] ljohnston opened #290 "Confused by the Versioning on this Module"
The latest version of this module on the forge is 0.7.0, released December 2014. In the project on Github, however, there are several releases since. It looks like the current release is 1.2.1, release in the last few days.

Why the discrepancy between the forge and the Github project?

Thanks,
Lance

[2016-06-17 16:00] bastelfreak commented on #290
Hi. you can find our releases here: https://forge.puppet.com/puppet/corosync

you probably watched at the puppetlabs namespace. The module got migrated to us.

[2016-06-17 22:22] ljohnston commented on #290
Thanks for the response. I see that now... makes sense (though it'd be nice if the forge somehow indicated migrated or deprecated modules  :-/  ).

Thanks again,
Lance

[2016-06-17 22:22] #290 closed

[2016-06-20 06:32] flhe commented on #289
Thank you. Yes this is working also.

[2016-06-20 06:32] #289 closed

[2016-06-21 15:43] rhamon commented on #262
I think the same array of array that is used for multiple interface/rings in @unicast_addresses could be used for @quorum_members. Maybe even use $unicast_addresses as a fallback when $quorum_members is undef and using the template corosync.conf.udpu.erb.

[2016-06-27 09:43] smoeding opened #295 "Type cs_rsc_defaults is missing the cib parameter"
Please check the following items before submitting an issue -- thank you!

Note that this project is released with a Contributor Code of Conduct.
By participating in this project you agree to abide by its terms.
[Contributor Code of Conduct](https://voxpupuli.org/coc/).

- [x] There is no existing issue or PR that addresses this problem

Optional, but makes our lives much easier:

- [x] The issue

[2016-06-28 07:52] #295 closed

[2016-06-28 15:28] shaunrampersad opened #300 "default token value of 3000 is not a supported config"
The default token value of 3000ms is not a supported config by redhat. This could result in clusters being installed that would not be supported.

As per article https://access.redhat.com/solutions/300953

Red Hat Enterprise Linux 5 and 6 using cman:

The default timeout is 10 seconds (10000 ms).

The following are the limits of the range tested by Red Hat Cluster Engineering:

    Minimum: 5 seco

[2016-06-28 15:30] roidelapluie commented on #300
Hi,

Which version of this module are you using? We have troubles with CentOS 6 and this module.

[2016-06-28 15:35] shaunrampersad commented on #300
Hi

I'm using 0.7.0. Its an old version, but I did check that the token is still at 3000 in master

[2016-06-28 15:36] roidelapluie commented on #300
"
Red Hat Enterprise Linux 7 using Pacemaker:

The default token timeout for Pacemaker clusters is 1000ms, increasing by 650ms for each additional member of the cluster, unless specified otherwise in the corosync.conf
"

[2016-06-28 15:37] roidelapluie commented on #300
This module is not working anymore with CentOS 6. Are you using CMAN? With which puppet module?

[2016-06-28 15:44] shaunrampersad commented on #300
yes, using cman.
" With which puppet module?" I'm not sure what you mean by this?

[2016-06-28 15:46] roidelapluie commented on #300
Which cman puppet module are you using?

[2016-07-04 15:45] shaunrampersad commented on #300
Hi
Sorry for the delay. We arent using a cman puppet module. upon further investigation, I see that any value placed into corosync.conf will be ignored by cman, since cman uses cluster.conf.

I will close this issue as it is not related if using cman.

Thanks
Shaun

[2016-07-04 15:45] #300 closed

[2016-07-05 15:08] fourti opened #308 "puppet Error defining cs_primitive"
I created a little class and would like to have a simple VIP
puppet-corosync 2.0.1 on centos 7 with puppet 3.7.4 ruby 2.0.0:

[code]

But all I get on the puppet run is:

  newparam(:unmanaged_metadata, array_matching: :all) do
                                               ^
/etc/puppet/modules/corosync/lib/puppet/type/cs_primitive.rb:104: syntax error, unexpected ':', expecting ')'
  newproperty

[2016-07-06 04:48] roidelapluie commented on #308
Can you try :

[code]

[2016-07-06 05:08] roidelapluie commented on #308
This looks like an error with Ruby 1.8.7.

Our test succeed with ruby2.0.0:
https://travis-ci.org/voxpupuli/puppet-corosync/jobs/142659959

[2016-07-06 07:18] fourti commented on #308
I tried as you mentioned with the cling square, but doesn't help.
I'm on ruby 2.0.0
`facter -p | grep ruby
rubyplatform => x86_64-linux
rubysitedir => /usr/local/share/ruby/site_ruby/
rubyversion => 2.0.0
`

[2016-07-06 07:24] roidelapluie commented on #308
Can you try with system ruby? your rubysitedir points to /usr/local

[2016-07-06 09:20] fourti commented on #308
There is nothing in the folder. So I assume there is something missing. I check.

[2016-07-06 10:40] fourti commented on #308
Are there any gems necessary?!

[2016-07-06 13:54] roidelapluie commented on #308
No.

Are you using system ruby?

[2016-07-06 13:55] fourti commented on #308
AFAIK it's the only ruby installation

[2016-07-07 05:50] roidelapluie commented on #308
Can we get the WHOLE log?

e.g

puppet agent --test --debug --trace

if you do not want to paste it on github, you can send it to me by email. My GPG fingerprint is 0C7F 1877 69D0 72B9 3B64  2BB9 E484 2505 33AE 92D

[2016-07-19 09:36] zaitsxl commented on #199
Hi,

sorry for late reply. No it does not help. I just downloaded latest code from here and applied changes to the code you suggested. It then showed that "ms_msPostgresql is a master/slave resource" and I should call it via name ms_ms_msPostgresql. And that surprisingly worked. Here's the actual code:

cs_primitive { 'ms_msPostgresql':
        primitive_class         => 'ocf',
        primitive_t

[2016-07-19 10:32] roidelapluie commented on #199
lib/puppet/provider/cs_primitive/pcs.rb:        # if we are using a master/slave resource, prepend ms_ before its name
lib/puppet/provider/cs_primitive/pcs.rb:        # and declare it as a master/slave resource

That is "how". No idea "why". And removing that will break a lot of setups.

[2016-07-19 10:33] roidelapluie commented on #199
I might still investigate, thanks for feedback.

[2016-07-19 10:56] zaitsxl commented on #199
With one "ms_" it does not work, only with two

[2016-07-19 11:00] roidelapluie commented on #199
cs_primitive { 'ms_msPostgresql': should have been cs_primitive { 'msPostgresql':

[2016-07-19 11:50] zaitsxl commented on #199
Aha looks like that was my fault. I already had resource and module refused to force creation. On a clean system everything works with one "ms_"

[2016-08-19 10:28] roidelapluie opened #322 "Move away from the UNSET pattern"
We should move from 'UNSET' to Undef. Proposal to do this at the same time as Puppet 4

[2016-08-19 10:29] #213 closed

[2016-08-19 10:36] roidelapluie commented on #308
ping @fourti

[2016-08-19 10:39] roidelapluie commented on #32
@kbon @bitglue @antaflos @hunner @ffrank

I want to give us the ability to rename this module for v6.0.0.

- [ ] puppet-corosync
- [ ] puppet-pacemaker
- [ ] puppet-cluster
- [ ] puppet-clustering
- [ ] puppet-clusterlabs
- [ ] puppet-ha

[2016-08-19 10:42] roidelapluie commented on #32
Also, what do we want for types?

- [ ] `cs_*`
- [ ] `crm_*`
- [ ] `cluster_*`
- [ ] `pm_*`
- [ ] `pacemaker_*`
- [ ] `ha_*`

[2016-08-19 11:04] roidelapluie commented on #199
Thanks!

[2016-08-19 11:04] #199 closed

[2016-08-25 14:50] roidelapluie commented on #308
ping @fourti

[2016-08-25 14:52] #150 closed

[2016-08-25 14:53] roidelapluie commented on #181
ping  @fatmcgav
@petems

[2016-08-30 08:35] #279 closed

[2016-08-31 08:12] roidelapluie opened #329 "modulesync"
Hi @bastelfreak

Would be great to modulesync the last changes with travis releases :) thanks

[2016-08-31 10:08] #329 closed

[2016-08-31 15:33] #262 closed

[2016-09-02 12:16] kbon commented on #32
Hi @roidelapluie, of course I'd gladly give my bike-shedding input, though I haven't been actively contributing here in a long time anymore ;-)

As for naming in general: in our internal infrastructure we made the historical error of introducing the "ha" term for a wrapper module, which just like "cluster" is awfully generic. In the meanwhile we've introduced Monit, not for clustering but for high

[2016-09-02 12:24] roidelapluie commented on #32
@kbon https://github.com/openstack/puppet-pacemaker that modules edits the CIB directly.

[2016-09-02 16:51] roidelapluie commented on #32
I am in favour of keeping puppet-corosync as corosync is always there in any stack. Me might rename to crm_ that might make sense. Like crm_resource instead of cs_primitive

[2016-09-05 10:28] ffrank commented on #32
@kbon's comments sound very reasonable to me. A `cib_` prefix would be kind of neat, but `crm_` is likely the better choice.

Renaming (essentially forking in the classic sense) to `puppet-pacemaker` could be done, but agree that `puppet-corosync` is close enough.

[2016-09-05 12:14] roidelapluie commented on #32
current status is: keep puppet-corosync -- move resources from cs_ to crm_

What about changing cs_primitive to crm_resource ?

[2016-09-05 15:06] roidelapluie opened #352 "Disallow squash"
Can someone with access to this repo uncheck the "Allow squash merging" in Settings > Options

Most of the new commits made in this repository are gpg signed. Squashing removes the GPG signatures.

[2016-09-05 15:07] igalic commented on #352
ugh… bad github

[2016-09-05 15:08] igalic commented on #352
done

[2016-09-05 15:08] #352 closed

[2016-09-05 15:09] roidelapluie commented on #352
:tada: :balloon: :balloon: :balloon: :balloon: :balloon: :tada::tada::tada:

[2016-09-05 19:15] roidelapluie opened #355 "Vox Pupuli First Elections"
Hi, users of puppet-corosync.

Vox Pupuli, the organization that manages this puppet module, will have its first elections in the following weeks. Anyone interested to join them as a candidate is welcome! It is a great opportunity to join the heart of the community and to be involved in a great open source organization.

More info: https://voxpupuli.org/blog/2016/09/03/becoming-a-candidate/

[2016-09-06 07:52] ffrank commented on #32
Hmm, what's the reasoning here? I'm mostly impartial, leaning slightly towards sticking with "primitive".

[2016-09-06 07:54] roidelapluie commented on #32
Well primitive is not in the clusterlabs wording, is it?

[2016-09-06 11:36] antaflos commented on #32
@roidelapluie Primitive is indeed in the Clusterlabs wording, at least when using CRM. Primitive resources are things like IP addresses, services, mountpoints, etc that are managed using a corresponding resource agent. Non-primitive resources are things like clone, location, colocation and group. You can see this in http://clusterlabs.org/doc/en-US/Pacemaker/1.1-plugin/html-single/Clusters_from_Sc

[2016-09-06 12:10] roidelapluie commented on #32
@antaflos this modules uses both pcs and crm depending on the os. You are right, let's keep primitive.

[2016-09-12 08:38] roidelapluie opened #361 "test autorequires"
### Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:
- Ruby:
- Distribution:
- Module version:

### How to reproduce (e.g Puppet code you use)

### What are you seeing

### What behaviour did you expect instead

### Output log

### Any additional information you'd like to impart

[2016-09-12 09:50] roidelapluie opened #362 "add guards for empty autorequires"
### Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:
- Ruby:
- Distribution:
- Module version:

### How to reproduce (e.g Puppet code you use)

### What are you seeing

### What behaviour did you expect instead

### Output log

### Any additional information you'd like to impart

[2016-09-12 09:51] roidelapluie opened #363 "cleanup everything between acceptance tests"
### Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:
- Ruby:
- Distribution:
- Module version:

### How to reproduce (e.g Puppet code you use)

### What are you seeing

### What behaviour did you expect instead

### Output log

### Any additional information you'd like to impart

[2016-09-13 12:50] #363 closed

[2016-09-13 13:13] #362 closed

[2016-09-13 13:16] roidelapluie commented on #361
new autorequires are tested

[2016-09-13 13:16] #361 closed

[2016-09-13 21:55] ffrank commented on #322
:+1:

[2016-09-14 14:21] ffrank commented on #182
Let's talk about this in person some time. I don't really see what the issue is yet.

[2016-09-14 14:24] ffrank commented on #152
I believe so, yes.

[2016-09-15 12:43] #149 closed

[2016-09-15 12:47] roidelapluie commented on #149
@fghaas That was a nice one as PCS does not support arbitrary id's for clones.

Here is the trick:
https://github.com/voxpupuli/puppet-corosync/commit/0f2063435bf6dbc591b3c63ffea7f8e2dc65916a#diff-8a13e73d1c1985ded0fc337a4f685ab9R20

[2016-09-15 16:05] roidelapluie commented on #152
closed by #368

[2016-09-15 16:22] ffrank commented on #152
Agreed. 👍

I'll leave this open for a time because I think I can produce a follow-up PR that saves a small amount of leg-work.

[2016-09-15 19:58] fghaas commented on #149
@roidelapluie Cool, thanks!

[2016-09-15 20:01] roidelapluie commented on #149
I plan to release a 5.0.0-beta 3 within the next days

[2016-09-16 07:43] fghaas commented on #152
Hmm, this should have auto-closed when #368 was merged. After all there is a comment to that effect in bd4268e760b70d58c2286e8d378805c5a13f0cdd.

It [looks like](https://help.github.com/articles/closing-issues-via-commit-messages/) `fixes` is a valid keyword, while `fixes issue` is not. Sorry about that!

[2016-09-16 07:49] roidelapluie commented on #152
@fghaas regarding @ffrank'r comment we will let this open

[2016-09-16 12:25] roidelapluie commented on #181
Probably fixed upstream

[2016-09-16 12:25] #181 closed

[2016-09-16 12:26] roidelapluie commented on #308
Closed as no feedback

[2016-09-16 12:26] #308 closed

[2016-09-16 20:06] #176 closed

[2016-09-20 04:39] #355 closed

[2016-09-22 12:24] lazyfrosch opened #375 "cs_group expecting more than 1 member"
Parameter primitives failed on Cs_group[test]: Puppet::Type::Cs_Group: primitives property must be at least a 2-element array. at .../test.pp:12

This seems not to be correct, PCS and CRM both allow a group only to have one member.

### Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 3.8.7
- Ruby: 2.0.0p598
- Distribution: CentOS 7
- Module version: 2.0.1

[2016-09-22 13:25] roidelapluie commented on #375
This is fixed in the latest release of this module (5.0.0). See #368 and #152

[2016-09-22 13:25] #375 closed

[2016-09-23 08:49] roidelapluie opened #376 "Replace PuppetX::Voxpupuli::Corosync::Provider::Pcs by self.class"
### Affected Puppet, Ruby, OS and module versions/distributions
- Puppet:
- Ruby:
- Distribution:
- Module version:
### How to reproduce (e.g Puppet code you use)
### What are you seeing
### What behaviour did you expect instead
### Output log
### Any additional information you'd like to impart

[2016-10-11 12:23] roidelapluie opened #377 "Write prototype/documentation"

[2017-01-18 17:14] tullis opened #396 "Cannot apply a cs_location to a group of resources"
I'm unable to apply a cs_location type to a group of resources. Am I missing something, or has it not yet been implemented?

## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 3.8.5
- Ruby: 2.1.5p273
- Distribution: Debian Jessie
- Module version: 5.0.0

## How to reproduce (e.g Puppet code you use)

I'm trying to apply a `cs_location` type to a previously created `cs_group`

[2017-01-18 17:43] roidelapluie commented on #396
That error message means that crm expects another syntax for location that imply groups.

Can you please add the location by hand : do a  crm configure show and paste the crm configure show output for that location?

Thanks

[2017-01-20 10:27] tullis commented on #396
Hi,

Thanks for the response.

Here is where I add four location constraints in by hand, using the `crm` shell.

[code]
Here is the portion of the `crm configure show` which shows the four location constraints.

[code]

If I use the puppet module as is, and I have to select primitives rather than groups for the location constraints, I seem to have to double this to 8 constraints, because each grou

[2017-01-20 10:41] roidelapluie commented on #396
This should work. Can you add require => Cs_group['ns1_vips'],

[2017-01-20 10:58] tullis commented on #396
Thanks very much. I can confirm that it works with that resource ordering pattern in place.
Sorry to trouble you with user error and thanks very much for your work on this module.

[2017-01-20 11:01] roidelapluie commented on #396
No problem. Actually I will take some action of this.

[2017-01-20 11:06] roidelapluie commented on #396
https://github.com/voxpupuli/puppet-corosync/pull/397

[2017-01-20 11:13] tullis commented on #396
Good stuff. Is it worth adding a note about the cs_group type to the README as well, while you're at it? I had to dig into the code to check that I could use it.

[2017-01-20 11:48] roidelapluie commented on #396
The readme should move away and be replaced by puppet-strings

[2017-04-02 23:16] #396 closed

[2017-04-07 14:36] zinneranast opened #400 "Parameter 'log_file_name' is not processed"
[code]

Output:
Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Resource Statement, Class[Corosync]: has no parameter named 'log_file_name' at /etc/puppetlabs/code/environments/test/modules/cluster/manifests/install.pp:94:3 on node <node name>

[2017-04-18 14:53] #400 closed

[2017-07-05 07:27] Vinclame opened #403 "Could not autoload puppet/provider/cs_property/pcs:"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:
 puppet --version
4.10.4
- Ruby:
Ruby comes with puppet-agent:
/opt/puppetlabs/puppet/lib/ruby/2.1.0
- Distribution:
Xenial 16.04.2
- Module version:
# 2016-09-16 - Release 5.0.0

## How to reproduce (e.g Puppet code you use)
  corosync::service { 'pacemaker':
    version => '0',
  }
  include corosync
  create_resources(cs_

[2017-07-21 18:06] pycharles commented on #403
I was having a similar error and was able to resolve by doing two things:

1. Running puppet on the puppet server against itself
2. Updating ruby-load-path in /etc/puppetlabs/puppetserver/conf.d/puppetserver.conf - I am currently trying to figure out a way to not need to make the puppetserver.conf update.

[code]

[2017-07-30 14:37] Caprico85 opened #404 "Support Debian 9"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.0.1
- Ruby: 2.4.1
- Distribution: **Debian 9 "Stretch"**
- Module version: 5.0.0

## How to reproduce (e.g Puppet code you use)
On Debian 9 Stretch uninstall package "crmsh", then run this code:
[code]
(specific code should not matter as long as class "corosync" is instantiated)

## What are you seeing
The error message:

[2017-10-23 17:46] wyardley opened #408 "openhpid dependency issue"
[via @actatux; creating an issue to track separately from #395]
The acceptance test with ruby 2.3.1 and env set docker/debian-8 fails because of dpkg failing to install the openhpid dependency.

[code]

This is related to https://bugs.debian.org/785287. This is a one time bug during post-install.

I can't see any elegant way to fix this acceptance test.

- Using ensure_packages() won't help since

[2017-10-23 17:47] wyardley opened #409 "CentOS 7 issues w/ pcs / CIB shadow"
[Via @actatux; creating an issue to track separately from #395]
The acceptance test with docker/centos-7 fails because of an issue with pcs and CIB_shadow.

A regression has been introduced in el 7.4, see https://bugzilla.redhat.com/show_bug.cgi?id=1497736

There is a fix ongoing at RH. I guess a fix should land to CentOS in the next months or so.

However, we will have to rework the cs_shadow/cs_

[2017-10-23 18:21] wyardley commented on #408
@actatux also: https://github.com/voxpupuli/modulesync_config/pull/403

[2017-10-23 19:04] actatux commented on #409
PR #410

[2017-10-24 00:25] wyardley commented on #408
Closing via #411, Though the upstream bug could still affect idempotency for end-users in some cases.

[2017-10-24 00:25] #408 closed

[2017-10-26 03:11] wyardley commented on #409
Closing via #410

[2017-10-26 03:11] #409 closed

[2017-10-26 05:14] wyardley commented on #322
Reworking in #415

[2017-10-27 16:17] actatux commented on #322
Reworking in #419

[2017-11-06 23:19] #322 closed

[2017-11-06 23:19] wyardley commented on #404
Closed via #416

[2017-11-06 23:19] #404 closed

[2017-11-15 13:16] cedef opened #421 "Cannot avoid the `bindnetaddr` to be set into `/etc/corosync/corosync.conf` file"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: All
- Ruby: All
- Distribution: CentOS 7
- Module version: 5.1.0

## How to reproduce

[code]

## What are you seeing

This puppet code results into the following `/etc/corosync/corosync.conf` snippet:
[code]

## What behaviour did you expect instead

I would expect the `bindnetaddr` directive to be **absent**: when absent,

[2017-11-15 13:37] cedef opened #422 "Warning in generated corosync.conf"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: All
- Ruby: All
- Distribution: CentOS 7
- Module version: 5.1.0

## How to reproduce

[code]

## What are you seeing

[code]

This puppet code results into the following `/etc/corosync/corosync.conf` snippet:
[code]

## What behaviour did you expect instead

It appears that declaring members when also using the `nodelist` d

[2017-11-15 17:25] actatux commented on #421
Hi @cedef ,

Obviously there is an issue in the corosync.conf file since bindnetaddr is empty for the second interface. Looking at corosync.conf(5), it looks like using $::ipaddress is wrong also.

However, the interface.bindnetaddr is one of the four parameters required, thus I don't believe we can make it an optional parameter.

I will give a deeper look.

Regards,

[2017-11-15 17:37] actatux commented on #421
I was looking at https://linux.die.net/man/5/corosync.conf which seems to be an old manpage.

In the corosync.conf(5) delivered with el7, the use of $::ipaddress is allowed.

[2017-11-15 22:02] actatux commented on #422
Hi @cedef ,

Thank you for reporting this issue.

It seems your `corosync.conf` snippet is incomplete: the `member` sections are missing in `interface`.

Anyway, with udpu transport, you are right, the `member` section is deprecated in favor of `nodelist` in corosync (corosync/corosync@de70c0007c). If we remove the `nodelist` section and keep `member`, then we get the following warning:

Thus, whe

[2018-01-07 08:25] #421 closed

[2018-01-07 10:51] actatux commented on #422
Fixed by #430

[2018-01-07 10:51] #422 closed

[2018-01-07 11:07] actatux commented on #152
@ffrank, do you still want to produce a follow-up PR?

[2018-01-07 18:16] actatux commented on #403
`Unable to find corosync module in modulepath /etc/puppetlabs/code/environments/common:/etc/puppetlabs/code/modules:/opt/puppetlabs/puppet/modules at /etc/puppetlabs/code/environments/internlnet/modules/profiles/manifests/ha/pacemaker.pp:15:3 on node fw03.asd2.internl.net`

@Vinclame, it seems to be an environment issue on the server side, not an issue with the corosync module. Can you confirm?

[2018-01-12 18:08] icb- opened #432 "Number on cs_primitive parameter value causes repeat diffs"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 4.10.9
- Ruby: ruby 2.0.0p648 (2015-12-16) [x86_64-linux]
- Distribution: CentOS 7.4
- Module version: 6.0.0

## How to reproduce (e.g Puppet code you use)
[code]
## What are you seeing
Every puppet run tries to change the cs_primitive's parameters, but then `pcs` kicks it out as having no change.

## What behaviour did you

[2018-01-18 10:40] Vinclame commented on #403
unfortunately I can't test this anymore. I've another job.

[2018-02-27 15:23] posteingang commented on #403
Hi, I habe the same problem:
```Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Resource Statement, Could not autoload puppet/type/cs_location: Could not autoload puppet/provider/cs_location/crm: Unable to find corosync module in modulepath /etc/puppetlabs/code/environments/common:/etc/puppetlabs/code/modules:/opt/

[2018-03-07 08:42] cervigni commented on #403
Hello,
I have got the same issue. Anyone can point me to the solution?
What do you mean by:
Running puppet on the puppet server against itself ?

Thanks
My error:

Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Resource Statement, Could not autoload puppet/type/cs_location: Could not autoload puppet/provider/cs_lo

[2018-03-29 14:24] #376 closed

[2018-05-14 09:38] towo commented on #403
Just triggered this while not changing anything with the configuration code, but updating the system with the puppet master. Possibly a version issue with Puppet.

[2018-05-14 09:46] towo commented on #403
[code]
Okay, seems like my `modulepath` is borked leading to the issues, possibly not relephant, then.

[2018-05-14 13:15] towo commented on #403
After some fiddling around, I noticed that at least with 5.3, one can simply replace
[code]
with
[code]
and it works.

`find` will use the `:current_environment` symbol when the environment parameter is nil, and that seems to work a-ok. I've bumped it into a PR (https://github.com/voxpupuli/puppet-corosync/pull/442).

[2018-05-23 07:30] sophomeric commented on #403
I had this problem, while also using a 'custom' environment. By custom I mean one not called production, and I was able to fix it by also deploying my code to the production environment. Hopefully this helps your investigation.

[2018-09-10 14:52] timdeluxe opened #447 "Provider crm for cs_location type does not set feature resource_discovery"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.1
- Ruby: ruby 2.4.4p296 (2018-03-28 revision 63013) [x86_64-linux]
- Distribution: Ubuntu 16.04
- Module version: 6.0.1

## How to reproduce (e.g Puppet code you use)
[code]

## What are you seeing
[code]

## What behaviour did you expect instead
[code]
## Output log
n/a
## Any additional information you'd like to impar

[2018-09-11 18:10] qcfabrizio opened #448 "Can't set `resource_discovery` when using `rules` in the cs_location pcs provider"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:
- Ruby:
- Distribution:
- Module version: 6.0.1

## How to reproduce (e.g Puppet code you use)

Create a `cs_location` which does not set `node_name` but does set `rules`.

[code]

## What are you seeing

The constraint is created without the `resource-discovery` attribute being set.

## What behaviour did you expect instead

[2018-09-17 14:17] langesven opened #449 "cs_colocation sets don't work properly"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.2
- Ruby: 2.4.4
- Distribution: RHEL 7
- Module version: 6.0.2-rc0

## How to reproduce (e.g Puppet code you use)
First set of errors:
[code]
Second set of errors, using the output of `puppet resource`:
[code]

## What are you seeing
First puppetrun, with no previous colocations set:
[code]
Asking puppet to define this r

[2018-09-18 03:57] actatux commented on #449
Hi @langesven

Between first and subsequent runs, you change the definition of `cs_colocation`, while it ends with the same pcs command to create the constraint.

Debug: Executing: '/sbin/pcs constraint colocation set fs_test service vip setoptions id=vip_with_services score=INFINITY -f /opt/puppetlabs/puppet/cache/shadow.puppet'

Because the definition changed in the catalog, puppet applies the c

[2018-09-18 04:13] actatux commented on #448
Hi @qcfabrizio - You are right. Can you submit a PR with your proposal?

[2018-09-18 04:28] actatux commented on #447
Hi @timdeluxe - Can you provide some debug output from the puppet command?

[2018-09-18 12:44] timdeluxe commented on #447
@actatux

Sure, however i doubt that will help you:
[code]

Also in my initial text i already described, where the issue is coming from and how it could be resolved. Did you read that?

[2018-09-18 14:08] actatux commented on #447
I read it but was not sure to clearly understand. If you know how to resolve it, could you please submit a PR?

[2018-09-18 15:17] timdeluxe commented on #447
@actatux I would love to provide a PR, but unfortunately my ruby knowledge is not yet beyond "hello world" :(
I only know the "logical" way to resolve it, which i described above...

[2018-09-20 12:32] timdeluxe commented on #449
Please ignore my commit to this issue, used the wrong commit message :-(

[2018-09-20 13:14] timdeluxe commented on #447
@actatux I tried my best to provide a pull request...

[2018-10-19 12:51] timdeluxe opened #452 "Dependency problem when enabling secauth and disabling service management"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.6
- Ruby: 2.4.4p296
- Distribution: Ubuntu bionic
- Module version: 6.0.1

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing
`Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Could not find resource 'Service[corosync]' in parameter 'notify' (file: /etc/p

[2018-10-19 13:10] timdeluxe commented on #452
This section in init.pp is also problematic in that sense:
[code]

[2018-10-29 19:41] gss2002 opened #453 "Add crypt_hash and crypt_cipher as secauth = deprecated"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:
- Ruby:
- Distribution:
- Module version:

## How to reproduce (e.g Puppet code you use)

## What are you seeing

## What behaviour did you expect instead
Support crypt_hash and crypt_cipher as secauth is deprecated.

       crypto_hash
              This specifies which HMAC authentication should be used to authenticate all

[2018-12-14 16:59] dlucredativ opened #455 "Constantly failing beaker tests"
Current pull requests keep failing due to broken or highly unstable beaker tests.

For example:
- The ubuntu1604 test worked on travis-ci.org but failed on travis-ci.com for the same branch/commit.
- The centos7 test fails on travis-ci.org and travis-ci.com but works locally, so I cannot even debug this.
- The debian9 test fails everywhere, for which I seem to have a workaround.

[2018-12-16 23:39] dlucredativ commented on #455
I cannot figure out the root cause, but now I think that the current debian9 workaround just got lucky. This is not a sd_notify issue but rather bad timing. Switching from type notify to simple just shifted certain events which under certain circumstances lead to service blocking. I am also not so sure any more, that this is a docker-only issue.

I was able the reproduce the error locally under ce

[2018-12-19 08:03] towo commented on #455
FWIW, timing is a definite issue; I can manually trigger builds and have different sets of beaker targets fail. At some other time the tests completely ran through without problems.

My initial assumption when having a look into this was that if pacemaker is restarted while systemd still has it in the state of `activating`, something breaks in the dependency management, since a regular pacemaker r

[2019-02-20 22:59] pdemonaco opened #459 "Provider pcs for cs_primitive generates a syntax error when updating a Master/Slave Resource"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.5
- Ruby: 2.4.4
- Distribution: RedHat Enterprise Linux 7.5
- Module version: 6.0.1

Cluster package versions
- pcs: 0.9.162
- corosync: 2.4.3
- pacemaker: 1.1.18

## How to reproduce (e.g Puppet code you use)

The example below details the initialization of a the SAPInstance resource for a particular configuration that

[2019-03-02 09:58] #453 closed

[2019-03-05 14:33] #403 closed

[2019-03-27 13:04] rotulet opened #463 "cs_clone with drbd failed to promote/demote node"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.3.0
- Ruby: ruby 2.5.3p105 (2018-10-18 revision 65156)
- Distribution: debian sid
- Module version:
├─┬ puppet-corosync (v6.0.1)
│ └── puppetlabs-stdlib (v4.25.1)
├─┬ puppet-drbd (v0.5.2)
│ └─┬ puppetlabs-concat (v5.3.0)
│   └── puppetlabs-translate (v1.2.0)

## How to reproduce (e.g Puppet code you use)
[code]
## What are

[2019-03-27 16:12] rotulet commented on #463
Does nearly the same with versions:
- pcs: 0.9.155
- pacemaker: 1.1.16-1

pcs status gives:
[code]
slave node is not detected as Slave in the 'Clone Set' and if I shutdown the master he does not promote the slave.

Here is the log if I stop the master:
[code]

[2019-04-04 19:38] besmirzanaj opened #464 "is anyone maintaining this module?"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet:
- Ruby:
- Distribution:
- Module version:

## How to reproduce (e.g Puppet code you use)

## What are you seeing

## What behaviour did you expect instead

## Output log

## Any additional information you'd like to impart

[2019-07-02 14:28] hubizx opened #468 "acl support"
Are you planning add acl support to module?

[2019-07-18 11:41] and0x000 opened #469 "fails to create order with pacemaker 2.0.1"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: Agent 6.6.0 (from Stretch repo, but this seems irrelevant)
- Ruby: ruby 2.5.5p157 (2019-03-15 revision 67260) [x86_64-linux-gnu]
- Distribution: Debian 10 (Buster)
- Module version: 6.0.1

## How to reproduce (e.g Puppet code you use)

On a 2 node cluster with stonith disabled, create 2 primitive resources and try to apply a

[2019-08-05 17:07] antaflos opened #472 "Catalog compilation should not fail when set_votequorum=true and cluster_name is set (but quorum_members and multicast_address are not)"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.7.0
- Ruby: 2.5.5
- Distribution: Ubuntu 16.04, 18.04
- Module version: master

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

Catalog compilation fails because the module requires quorum_members or multicast_address to be set when set_votequorum is true. This is wrong because setting cluste

[2019-09-22 17:58] #459 closed

[2019-09-22 20:07] #472 closed

[2019-12-13 13:21] Elbandi opened #480 "Allow puppet uri for authkey"
Please allow puppet:// prefix uri for authkey. like:
`authkey           => "puppet:///modules/foo/corosync_authkey_lvs",`

[2020-03-26 14:13] XANi commented on #469
temporary fix:
doing
[code]
to the XML and then applying it as usual "works"

[2020-05-11 10:08] efoft opened #485 "cs_order fails with pcs provider because of score parameter"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: puppet-agent-6.15.0-1.el7.x86_64
- Ruby: ruby 2.0.0p648 (2015-12-16) [x86_64-linux]
- Distribution: CentOS 7.7, 7.8
- Module version: master

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

[code]

## What behaviour did you expect instead

Proper creation of cluster resources order without erro

[2020-05-29 11:11] #480 closed

[2020-08-26 09:59] rgmoises opened #488 "Next tag after v6.0.1 ??"
Hi, when will be the release of tag next after v6.0.1 ? thanks

[2020-08-26 10:15] igalic commented on #488
as soon as someone volunteers to help release it https://voxpupuli.org/docs/releasing_version/

[2020-08-30 14:51] #447 closed

[2020-12-04 13:03] joernott opened #494 "Make hacluster/user group creation optional on qdevice"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.19.1
- Ruby: 2.5.8
- Distribution: RHEL7
- Module version: 7.0.0

## How to reproduce (e.g Puppet code you use)
* Create a haclient group and hacluster user yourself and then call qdevice without providing the password hash

## What are you seeing
Duplicate resources.

## What behaviour did you expect instead
I want to be

[2020-12-14 13:55] agriffit79 opened #496 "Configuring unicast mode is configusing"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.22
- Ruby: 2.4.10p364
- Distribution: CentOS 7.9.2008
- Module version: 7.0.0

## How to reproduce (e.g Puppet code you use)
[code]
## What are you seeing
In order to have transport set to `udpu` it it necessary to populate `unicast_addresses` but these values are not actually populated into `corosync.conf` when `set_vot

[2020-12-21 19:54] zpeschke commented on #485
The schema for an order constraint indicates that either `score` or `kind` parameter can be passed in, but not both. https://github.com/ClusterLabs/pacemaker/blob/master/xml/constraints-3.5.rng#L155-L160

The problem is that this resource sets a default to both values.

[2020-12-21 20:01] zpeschke commented on #485
Looks like this was fixed here: https://github.com/voxpupuli/puppet-corosync/pull/450/files

[2020-12-21 20:11] #485 closed

[2020-12-29 11:42] towo commented on #464
Well, there's activity on here just recently. :)
If there's anything that's a problem, open a concrete issue if one doesn't exist already. PRs are always welcome!

[2020-12-29 11:42] #464 closed

[2020-12-29 11:44] towo commented on #455
This should have all been fixed by now, the current tests are definitely working, especially after moving to GitHub Actions. I'll take the liberty and close this, thanks for the input!

[2020-12-29 11:44] #455 closed

[2021-01-04 14:07] #494 closed

[2021-01-05 13:14] jnguiot commented on #496
I agree with you, this system is strange. I also have a udpu system with several rings (corosync 2.4.3 and pacemake 1.1.18). However, I need to declare a `bindnetaddr` or pacemaker have a lot of trouble to run.
The disabling of member have been introduced in #430 to resolve #421. @btravouillon has stated that member are not needed (https://github.com/voxpupuli/puppet-corosync/issues/422#issuecomme

[2021-01-06 01:30] kahoffman opened #500 "When Managing PCS Auth pcs_cluster_auth Executes Every Puppet Run"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 5.5.20
- Ruby: 2.0.0.648
- Distribution: RHEL 7.9
- Module version: v7.0.0

## How to reproduce (e.g Puppet code you use)

[code]

## What are you seeing

When managing pcs auth via this module, puppet runs Exec/pcs_cluster_auth to authenticate pcs nodes on every run. This seems to be by design based on the comments in the c

[2021-03-02 19:07] timdeluxe commented on #488
@igalic The initial question is now outdated (since 7.0.0 is already released), but in the meantime a new release would be great.
What can we non-members to to get a release?

[2021-03-04 20:27] bastelfreak commented on #488
Hi @timdeluxe . https://github.com/voxpupuli/puppet-corosync/pull/502 is the last remaining PR I want to get merged before I do a new release. You can prepare one by yourself by following the guide @igalic linked. You can always join our IRC channel #voxpupuli on freenode or #voxpupuli on http://slack.puppet.com/ if you've any questions and we can guide you through the process (but I planned to do

[2021-03-08 18:58] timdeluxe commented on #488
@bastelfreak Will try next time, but in the meantime you already did a new release - thanks! 👍
(I think this issue can be closed now)

[2021-03-08 19:54] #488 closed

[2021-06-10 05:57] AndreasPfaffeneder opened #506 "Information on udpu seems not totally clear and doc is missing any mention of Knet"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.21.1
- Ruby: 2.5.5p157
- Distribution: RHEL 8.4
- Module version: v8.0.0

## How to reproduce (e.g Puppet code you use)
Use existing configuration of from systems with corosync 2.x on a system with corosync 3.x.

e.g:

[code]

This leads, due to the changes in corosync, to a not working configuration.

## What are you seei

[2021-06-10 07:42] AndreasPfaffeneder opened #508 "test_corosync_config fails for pacemaker 3.x"
## Affected Puppet, Ruby, OS and module versions/distributions

    Puppet: 6.21.1
    Ruby: 2.5.5p157
    Distribution: RHEL 8.4
    Module version: v8.0.0

## How to reproduce (e.g Puppet code you use)

Multiple steps required:
1.) Have a corosync.conf which is not working, something like:

/etc/corosync/corosync.conf
[...]
totem{
crypto_hash: sha1
crypto_cipher: aes256
transport: udpu
}
[...]

[2021-06-10 08:19] AndreasPfaffeneder commented on #508
config_validate_cmd exists

[2021-06-10 08:23] AndreasPfaffeneder commented on #508
need to get the parameter to the signature of the main class.

[2021-06-10 08:39] #506 closed

[2021-06-11 22:19] hammondr opened #510 "How to refresh/restart/reload a resource?"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 7
- Distribution: CentOS
- Module version: lastest/master

## How to reproduce (e.g Puppet code you use)
We use this module to create an nginx cluster.  We love the module.  Thanks for the hard work!

Without puppet, I can run `pcs` to refresh (reload) a Clone Set like this:
[code]

Is there a way to trigger pcs to refresh a

[2021-06-14 07:45] AndreasPfaffeneder commented on #508
With #509 its possible to provide a custom check command which solves that issue.

For reference, the check-command for pacemaker 3x.:
[code]

[2021-06-14 07:48] #508 closed

[2021-06-14 09:23] #452 closed

[2021-10-15 14:54] abotelho-cbn opened #519 "Does this module support VirtualDomains/libvirt?"
Does this module support VirtualDomains/libvirt?

Managing VMs instead of services is our use-case for Corosync/Pacemaker. I feel like this is a pretty fundamental use of Corosync/Pacemaker.

The roadmap hasn't been updated in years: https://github.com/voxpupuli/puppet-corosync/blob/master/ROADMAP.md

So it's hard to tell where this project is headed. Is there any insight that can be given?

Some

[2021-12-28 21:59] towo commented on #519
VirtualDomains don't need any special support, they're realized via resource agents, just as any other resource. As long as the distribution you're using is shipping the `ocf:heartbeat:VirtualDomain` resource agent, you can just use said agent.

The roadmap being outdated is still an artifact of this module being put into Vox Pupuli hands, we're mostly just helping people to integrate patches and

[2021-12-28 21:59] #519 closed

[2021-12-28 22:05] towo commented on #510
I've looked into the code and so far, the only thing that's refreshable is a `cs_commit`; which isn't what you want (and you've probably implemented differently now, anyway…).

I can bump this to be a feature request, just let me now. :)

[2021-12-28 22:07] towo commented on #468
I took the liberty to bump this to a feature request; no promises, though. (Not like you probably still have hope after 2.5a, but one never knows…)

[2022-01-17 09:13] bastelfreak opened #522 "`version_corosync` et al have been renamed to `ensure_corosync`"
This change happended in https://github.com/voxpupuli/puppet-corosync/pull/499. Please take a look at the PR for details.

[2022-01-17 09:13] bastelfreak opened #523 "The `promotable` and `ms_metadata` attributes have been removed from `ms_metadata`."
This change happended in https://github.com/voxpupuli/puppet-corosync/pull/499. Please take a look at the PR for details.

[2022-06-28 21:45] optiz0r commented on #500
I've just run into this myself. The pcs docs indicate the `var/lib/pcsd/tokens` is used to store auth tokens when run as root, which it is when run under puppet using this module. This file is currently a json document containing

[code]

The simplest naive fix for this issue would be to add an `unless` clause that checks for the presence of all hostnames in this file. I've just done a quick test

[2022-07-04 09:57] optiz0r opened #526 "Add support for EL8"
This module mostly works, but the config test command is incompatible with corosync version on el8. The env var is ignored, and it tries to check the actual config file, which will not exist on first run, or contain the old config when the file is to be updated (and so the wrong config gets validated).

A previous attempt to fix this in #484 is out of sync with main branch.

A replacement PR based

[2022-10-05 12:14] kossekm opened #528 "Cs_rsc_defaults not committed from shadow cib to live cib"
## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: 6.27.0
- Ruby: 2.0.0p648
- Distribution: RHEL
- Module version: latest

## How to reproduce (e.g Puppet code you use)

We have the following `cs_rsc_defaults` section in our Puppet hiera:
[code]

## What are you seeing

Added a rsc_defaults section to our Pacemaker configuration. The section gets added to the shadow `/var/ca